body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #dbdbdb; /* Darker blue background */
}

      /* Create a slight parallax effect by adjusting background position */

      .mobile-container {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
      }
      .mobile {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 20px;
        width: 100%;
      }
      .specs {
        padding: 20px;
        width: 100%;
      }
      
      
.specs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.specs ul li {
  margin-bottom: 5px;
  color: #666;
  text-align: left;
}

.specs h2 {
  color: #333;
  margin-bottom: 10px;
  text-align: left; /* Align the text to the left */
}

.buy-button {
  display: block; /* Change to block to force it below the ul */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
}


/* For screens larger than 768px (laptops) */
@media screen and (min-width: 769px) {
  .mobile {
    display: flex;
    flex-direction: row;
  }
  .specs {
    width: 70%;
    max-width: 70%
  }
  .mobile-img {
    max-width: 50%;
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
  }
  
  .mobile-img img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
}
/* For screens up to 768px (smaller screens) */
@media screen and (max-width: 768px) {

  .mobile {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
  }

  .mobile-img {
    max-width: 50%;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
  }
  
  .mobile-img img {
    width: 10%;
    height: auto;
    object-fit: cover;
  }

  .specs {
    max-width: 80%; /* Adjust the width to fit the container */
    border-radius: 0 0 10px 10px; /* Adjust border radius */
    background-color: #fff; /* Match background color */
    padding: 20px; /* Add padding */
  }
}
          #filtersContainer {
      width: 100%; /* 4/4 of the webpage width for mobile devices */
      position: absolute; /* Position the filters container absolutely */
      top: 0; /* Align to the top */
      left: 0; /* Align to the left */
      background-color: #f9f9f9; /* Light gray background */
      z-index: 1; /* Ensure the filters appear above other content */
      overflow-y: auto; /* Enable vertical scrolling if needed */
      height: 100%; /* Set height to full viewport height */
      padding: 20px; /* Add padding */
      border-right: 2px solid #ddd; /* Add border on the right for separation */
  }

  #toggleFiltersButton {
      display: block; /* Show the toggle button */
      margin-bottom: 20px; /* Add margin at the bottom */
      background-color: #007bff; /* Blue background color */
      color: #fff; /* White text color */
      border: none; /* Remove border */
      padding: 10px 20px; /* Add padding */
      cursor: pointer; /* Add pointer cursor */
      border-radius: 5px; /* Add border radius */
      font-size: 16px; /* Adjust font size */
      text-align: center; /* Align text to the center */
  }

  #toggleFiltersButton:hover {
      background-color: #0056b3; /* Darker blue on hover */
  }

  #toggleFiltersButton:focus {
      outline: none; /* Remove outline on focus */
  }

  #sortContainer {
      margin-top: 50px; /* Adjust margin for smaller screens */
  }

      .full-specs {
          display: none;
          text-align: left;
          margin-left: 20px;
      }
      .right-side {
          text-align: right;
          padding: 20px;
          background-color: #f0f0f0;
      }
      .right-side {
  text-align: center;
  padding: 20px;
  background-color: #3498db; /* Change the background color */
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  margin-top: 20px; /* Add margin to separate it from the search container */
  }

  .right-side a {
      margin-left:15px;
  text-decoration: none;
  color: #fff; /* Link color */
  font-weight: bold;
  }

  .right-side a:hover {
  text-decoration: underline; /* Underline on hover */
  }
    /* Range slider styles */
.range-container {
  text-align: center;
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 10px; /* Reduced padding */
  border-radius: 5px; /* Reduced border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  width: 50%; /* Adjusted width */
  margin: 0 auto; /* Center the range container */
  position: relative;
  clear:both;
}
@media screen and (max-width: 768px) {
  .range-container {
      width: 100%; /* Full width for smaller screens */
  }
}

/* Adjusted styles for range slider */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background: linear-gradient(to right, #4CAF50 0%, #4CAF50 50%, #d3d3d3 50%, #d3d3d3 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px; /* Reduced border radius */
  margin-bottom: 10px; /* Reduced margin */
  position: relative;
  z-index: 1;
}

/* Adjusted styles for range slider thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

      .range-slider:hover {
          opacity: 1;
      }

      /* Additional styling for pseudo elements to create gradient overlay */
      .range-slider::before,
      .range-slider::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
          pointer-events: none; /* Ensure pseudo elements don't interfere with slider interaction */
          z-index: 0; /* Behind the slider */
      }

      .range-slider::after {
          background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
          opacity: 0.7;
      }
  #searchContainer {
          text-align: center;
      }

      #searchInputs {
          display: inline-flex;
          align-items: center; /* Align items vertically */
      }

      #searchInput {
          flex: 1; /* Take up remaining space */
          margin-right: 10px; /* Add margin between input and button */
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
      }

      #searchButton {
          background-color: #3498db;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s ease;
      }

      #searchButton:hover {
          background-color: #2980b9;
      }
      
  #toggleFiltersButton {
      display: block; /* Show the toggle button */
      margin-bottom: 20px; /* Add margin at the bottom */
      background-color: #007bff; /* Blue background color */
      color: #fff; /* White text color */
      border: none; /* Remove border */
      padding: 10px 20px; /* Add padding */
      cursor: pointer; /* Add pointer cursor */
      border-radius: 5px; /* Add border radius */
      font-size: 16px; /* Adjust font size */
      text-align: center; /* Align text to the center */
      transition: width 1s ease; /* Add transition for width change */
  }

  #toggleFiltersButton:hover {
      background-color: #0056b3; /* Darker blue on hover */
  }

  #toggleFiltersButton:focus {
      outline: none; /* Remove outline on focus */
  }


#toggleFiltersButton:hover {
  background-color: #2980b9; /* Darker blue on hover */
}
#filtersContainer {
  display: flex; /* Initially hide the filters container */
  flex-direction: column; /* Arrange items vertically */  
  float: right; /* Float the filters container to the right */
  transition: width 1s ease; /* Smooth transition for width changes */
      position: absolute; /* Position the filters container absolutely */
      top: 0; /* Align to the top */
      left: 0; /* Align to the left */
      background-color: #f9f9f9; /* Light gray background */
      z-index: 1; /* Ensure the filters appear above other content */
      overflow-y: auto; /* Enable vertical scrolling if needed */
      height: 100%; /* Set height to full viewport height */
      padding: 20px; /* Add padding */
      border-right: 2px solid #ddd; /* Add border on the right for separation */
      width: 25%; /* Set width to 75% of the viewport width */
  }
  @media screen and (max-width: 768px) {
  #filtersContainer {
      width: 75%; /* 4/4 of the webpage width for mobile devices */
  }
}
#filtersContainer {
      position: absolute; /* Position the filters container absolutely */
      top: 0; /* Align to the top */
      left: 0; /* Align to the left */
      background-color: #f9f9f9; /* Light gray background */
      z-index: 1; /* Ensure the filters appear above other content */
      overflow-y: auto; /* Enable vertical scrolling if needed */
      height: 100%; /* Set height to full viewport height */
      padding: 20px; /* Add padding */
  }


#filtersContainer {
  display: none; /* Initially hide the filters container */
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

#sortContainer {
      margin-top: 50px; /* Adjust margin for smaller screens */
      text-align: center;
  }

  #sortSelect {
      padding: 10px;
      border: 2px solid #3498db;
      border-radius: 5px;
      background-color: #fff;
      color: #3498db;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
  }

  #sortSelect:hover {
      background-color: #3498db;
      color: #fff;
  }
#brandFilters {
  display: flex; /* Initially hide the brand filters */
  flex-direction: column;
}

.brand-filter {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 7px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  width: fit-content;
}

.brand-filter:hover {
  background-color: #0056b3;
}

.brand-filter:focus {
  outline: none;
}

.show-filters #brandFilters {
  display: flex; /* Show the brand filters when the container has the 'show-filters' class */
}
/* CSS for arranging remaining brand filters beside the first two */
.brand-filter:nth-child(n+3) {
  margin-left: 10px; /* Add margin to separate buttons */
}


/* CSS for main content */
.main-content {
  overflow: hidden; /* Clear floats */
}
.hide-filter-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide-filter-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}
/* CSS for the "Reset Filters" button */
.reset-filters-btn {
  background-color: #e74c3c; /* Red background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add pointer cursor */
  font-size: 16px; /* Adjust font size */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.reset-filters-btn:hover {
  background-color: #c0392b; /* Darker red on hover */
}
.brand-filter label {
  color: black; /* Set label text color to black */
  display: block; /* Make labels display as block elements */
  margin-bottom: 5px; /* Add margin to separate labels */
  text-align: left; /* Align label text to the left */
}
.see-specs-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.see-specs-button:hover {
  background-color: #0056b3;
}
#pagination {
  text-align: center;
  margin-top: 20px;
}

#pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

#pagination button:hover {
  background-color: #0056b3;
}

#pagination span {
  margin: 0 10px;
  font-weight: bold;
  color: black;
}
